body{
    background-color: rgba(0, 166, 255, 0.461);
}


div{
    display: flex;
    flex-flow: column wrap;
    border-color:blue;
    border-style: dotted;
    margin: 20px;
}

img{
    width: 200px;
    height: 150px;
    margin: auto;
}
h1{
    padding: 10px;
    margin: auto;
    
}
/* 
form{
    display: flex;  
    flex-flow: row;
    padding-block-end: 20px;
    margin: 20px;
} */